<div class="row">
    <div class="col-xs-12 col-sm-10 col-lg-8">
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="cashSalary" class="col-sm-7 control-label" data-ng-class="{'selected-label' : (cashSalary  || (contract.cashSalary != null && contract.cashSalary != ''))}">¿Cuál es el salario en efectivo de <span data-ng-if="$parent.employee.firstName != null && $parent.employee.firstName != ''"><span data-ng-bind="$parent.employee.firstName" /></span><span data-ng-if="$parent.employee.firstName == null || $parent.employee.firstName == ''">tu empleado</span>?</label>
                <div class="col-sm-5 form-item">
                    <div class="input-group">
                        <span class="input-group-addon" data-ng-class="{'selected-addon': (cashSalary  || (contract.cashSalary != null && contract.cashSalary != ''))}">$</span>
                        <input type="text" class="form-control" name="cashSalary" id="cashSalary" data-ng-class="{selected: (cashSalary  || (contract.cashSalary != null && contract.cashSalary != ''))}" data-ng-focus="cashSalary = true; currentQuestion = 'cashSalary'" data-ng-model="contract.cashSalary" autonumeric>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
